*{
    padding: 0;
    margin: 0;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.center{
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}
.header-wrapper{
    background-color: #a6a6d2;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    min-height: 100vh;
}
.footer-wrapper{
    background-color: #686885;
}
.footer{
    height: 200px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    display:flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    flex-direction: row;
    gap:20px;
}
.img_wrapper{
    width: 200px;
    height: 200px;
    background-color: beige;
    display: flex;
    align-items: center;
}